::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-button, ::-webkit-scrollbar-corner, a[href="https://flowplayer.com/hello/?from=player"], .fp-context-menu {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(245, 245, 245, 0.7);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(245, 245, 245, 0.9);
}

.flowplayer, .navbar {
  margin-bottom: 1.5rem;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece, .flowplayer, .fp-player {
  background-color: hsl(0, 0%, 0%);
}

.fp-color {
  background-color: hsl(217, 71%, 53%);
}

.image.is-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.menu-list a:hover {
  background-color: rgba(10, 10, 10, 0.1);
}

a:hover {
  text-decoration: none !important;
}

.has-background-transparent {
  background-color: transparent !important;
}

.x-overlay-toggle .is-overlay {
  visibility: hidden;
}

.x-overlay-toggle:hover .is-overlay {
  visibility: visible;
}

.x-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.x-text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.x-filter {
  background-color: rgba(0, 0, 0, 0.8);
}